
 <div class="large-9 columns" role="content">
 <% @posts.each do |post| %>
  <article>
 
        <h3><a href="<%= post.id %>"><%= post.title %></a></h3>
        <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
 
        <div class="row">
          <div class="large-6 columns">
<%= post.description %>            
  </div>
          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]" />
          </div>
        </div>
 
  
      </article>
    
        

    <% end %>
     
 
      <hr />
 

 
    </div>
<p id="notice"><%= notice %></p>


<%= link_to 'New Post', new_post_path %>
