
 <div class="large-9 columns" role="content">
 <% @posts.each do |post| %>
  <article>
 
        <h3><a href="posts/<%= post.slug %>"><%= post.title %></a></h3>
        <h6>Written by <a href="#">Daniel</a> on <%= post.published %>.</h6>
 
        <div class="row">
          <div class="large-6 columns">
			<%= post.description[0..100] %>            
		</div>
          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]" />
          </div>
        </div>
 
      <hr />
  
      </article>
    
        

    <% end %>
     
 
 

 
    </div>
<p id="notice"><%= notice %></p>


<%= link_to 'New Post', new_post_path %>
